In [2]:
import numpy as np
import pandas as pd
from pandas import Series, DataFrame
from numpy.random import randn

In [3]:
ser1 = Series([1,2,3,4],index=['A','B','C','D'])

In [4]:
ser1

A    1
B    2
C    3
D    4
dtype: int64

In [5]:
ser2 = ser1.reindex(['A','B','C','D','E','F'])

In [6]:
ser2

A     1
B     2
C     3
D     4
E   NaN
F   NaN
dtype: float64

In [7]:
ser2.reindex(['A','B','C','D','E','F','G'], fill_value=0)

A     1
B     2
C     3
D     4
E   NaN
F   NaN
G     0
dtype: float64

In [8]:
ser3 = Series(['USA','Mexico','Canada'], index=[0,5,10])

In [9]:
ser3

0        USA
5     Mexico
10    Canada
dtype: object

In [10]:
ranger = range(15)

In [11]:
ranger

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14]

In [12]:
ser3.reindex(ranger,method='ffill')

0        USA
1        USA
2        USA
3        USA
4        USA
5     Mexico
6     Mexico
7     Mexico
8     Mexico
9     Mexico
10    Canada
11    Canada
12    Canada
13    Canada
14    Canada
dtype: object

In [13]:
dframe = DataFrame(randn(25).reshape((5,5)), index=['A','B','D','E','F'], 
                   columns=['col1','col2','col3','col4','col5'])

In [14]:
dframe

       col1      col2      col3      col4      col5
A  0.886417  1.003227  1.257148  0.907297  0.603969
B  0.283874 -1.373327  0.390243 -0.276449 -1.237807
D  0.340576  1.722632 -1.730537 -0.931465  2.081229
E  0.576504  0.911714 -0.596760 -1.478360 -0.875846
F  0.470467 -0.182243 -0.207208 -1.750216  0.272807

In [15]:
dframe2 = dframe.reindex(['A','B','C','D','E','F'])

In [16]:
dframe2

       col1      col2      col3      col4      col5
A  0.886417  1.003227  1.257148  0.907297  0.603969
B  0.283874 -1.373327  0.390243 -0.276449 -1.237807
C       NaN       NaN       NaN       NaN       NaN
D  0.340576  1.722632 -1.730537 -0.931465  2.081229
E  0.576504  0.911714 -0.596760 -1.478360 -0.875846
F  0.470467 -0.182243 -0.207208 -1.750216  0.272807

In [17]:
new_columns = ['col1','col2','col3','col4','col5','col6']

In [18]:
dframe2.reindex(columns=new_columns)

       col1      col2      col3      col4      col5  col6
A  0.886417  1.003227  1.257148  0.907297  0.603969   NaN
B  0.283874 -1.373327  0.390243 -0.276449 -1.237807   NaN
C       NaN       NaN       NaN       NaN       NaN   NaN
D  0.340576  1.722632 -1.730537 -0.931465  2.081229   NaN
E  0.576504  0.911714 -0.596760 -1.478360 -0.875846   NaN
F  0.470467 -0.182243 -0.207208 -1.750216  0.272807   NaN

In [19]:
dframe

       col1      col2      col3      col4      col5
A  0.886417  1.003227  1.257148  0.907297  0.603969
B  0.283874 -1.373327  0.390243 -0.276449 -1.237807
D  0.340576  1.722632 -1.730537 -0.931465  2.081229
E  0.576504  0.911714 -0.596760 -1.478360 -0.875846
F  0.470467 -0.182243 -0.207208 -1.750216  0.272807

In [20]:
dframe.ix[['A','B','C','D','E','F'], new_columns]

       col1      col2      col3      col4      col5  col6
A  0.886417  1.003227  1.257148  0.907297  0.603969   NaN
B  0.283874 -1.373327  0.390243 -0.276449 -1.237807   NaN
C       NaN       NaN       NaN       NaN       NaN   NaN
D  0.340576  1.722632 -1.730537 -0.931465  2.081229   NaN
E  0.576504  0.911714 -0.596760 -1.478360 -0.875846   NaN
F  0.470467 -0.182243 -0.207208 -1.750216  0.272807   NaN